/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}


html,
body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-scrollbar-track: none;

  /* 2. Oculta el pulgar (el control que mueves) */
  -webkit-scrollbar-thumb: none;

  /* 3. Oculta la barra de scroll completa */
  -webkit-scrollbar: none;
  overflow-x: hidden;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  display: none;
  /* Oculta la barra completamente */
}

#root {
  min-height: 100%;
}