@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* mueve la mitad del contenido duplicado */
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee linear infinite;
}
